# strings

In [2]:
str1 = u"23443434";
print (str1.isdecimal());

str2 = "this is string example....wow!!!";
print( str2.zfill(40))

str3="sandeep"
str3.upper()

str4="SANDEEP"
str4.lower()
print (str4.lower())
print(len(str4))

str5 = "this is string example....wow!!!";
print(str5.title())

str6= "this is string example....wow!!!";
print (str6.swapcase())

str7 = "0000000this is string example....wow!!!0000000";
print (str7.strip( '0' ))

str8 = "this is string example....wow!!!";
print (str8.startswith( 'this' ))

str9 = "Line1-a b c d e f\nLine2- a b c\n\nLine4- a b c d";
print (str9.splitlines( 3 ))

str0 = "Line1-abcdef \nLine2-abc \nLine4-abcd";
print (str0.split( ))

str11= "     this is string example....wow!!!     ";
print (str11.rstrip())
str12 = "88888888this is string example....wow!!!8888888";
print (str12.rstrip('8'))
print (str12.lstrip("8"))

str13 = "this is string example....wow!!!";
print( str13.rjust(50, '0'))
print (str13.ljust(50, '0'))

str14 = "this is string example....wow!!!";
str15 = "is";
print (str14.rindex(str15))
print (str14.find(str15, 0, 10))
print (str14.find(str15, 10, 0))

str16 = "this is string example....wow!!! this is really string"
print (str16.replace("is", "was"))
print (str16.replace("is", "was", 3))

str17 = "this is really a string example....wow!!!";
print ("Max character: " + max(str17))
str18 = "this is really a string example....wow!!!";
print ("Min character: " +min(str18))

True
00000000this is string example....wow!!!
sandeep
7
This Is String Example....Wow!!!
THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!
True
['Line1-a b c d e f\n', 'Line2- a b c\n', '\n', 'Line4- a b c d']
['Line1-abcdef', 'Line2-abc', 'Line4-abcd']
     this is string example....wow!!!
88888888this is string example....wow!!!
this is string example....wow!!!8888888
000000000000000000this is string example....wow!!!
this is string example....wow!!!000000000000000000
5
2
-1
thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string
Max character: y
Min character:

In [3]:
s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

str19 = "this";  # No space & digit in this string
print (str19.isalpha())

str20 = "this";  # No space & digit in this string
print (str20.isdigit())

str21 = "this";  # No space & digit in this string
print (str21.islower())

str22 = "this";  # No space & digit in this string
print (str22.isnumeric())

str23 = "this";  # No space & digit in this string
print (str23.isspace())

str24 = "this";  # No space & digit in this string
print (str24.istitle())

str25 = "this";  # No space & digit in this string
print (str25.isupper())

str26 = "this";  # No space & digit in this string
print (str26.islower())

s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq ))

str19 = "this";  # No space & digit in this string
print (str19.isalpha())

a-b-c
True
False
True
False
False
False
False
True
a-b-c
True

# lists

In [13]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[0])
print( "list2[1:5]: ", list2[1:5])
len(list1)
list1+list2
list1*4

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

['physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000,
 'physics',
 'chemistry',
 1997,
 2000]

In [8]:
list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ",list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]

3

In [29]:
l=[1,2,3,4,5]
l[2]
l[-2]
l[1:]
print(max(l))
print(min(l))
q=("a",1,4,5,"e")
a=list(q)
print(a)

5
1
['a', 1, 4, 5, 'e']

In [45]:
aList = [123, 'xyz', 'zara', 'abc',123,'zara']
bList = [2009, 'manni']
aList.append( 2009 )
print(aList)

print( "Count for 123 : ", aList.count(123))
print ("Count for zara : ", aList.count('zara'))

aList.extend(bList)
print( "Extended List : ", aList )

print ("Index for xyz : ", aList.index( 'xyz' ) )

aList.insert( 3, 2009)
print ("Final List : ", aList)

print ("A List : ", aList.pop())#deletes randomly a number and displays deleted value
print ("B List : ", aList.pop(2))#deletes 3 number from list

aList.remove('xyz')
print ("List : ", aList)

aList.reverse()
print ("List : ", aList)

List=[3,5,7,1,4,5,6]
List.sort()
print ("List : ", List)

[123, 'xyz', 'zara', 'abc', 123, 'zara', 2009]
Count for 123 :  2
Count for zara :  2
Extended List :  [123, 'xyz', 'zara', 'abc', 123, 'zara', 2009, 2009, 'manni']
Index for xyz :  1
Final List :  [123, 'xyz', 'zara', 2009, 'abc', 123, 'zara', 2009, 2009, 'manni']
A List :  manni
B List :  zara
List :  [123, 2009, 'abc', 123, 'zara', 2009, 2009]
List :  [2009, 2009, 'zara', 123, 'abc', 2009, 123]
List :  [1, 3, 4, 5, 5, 6, 7]

# tuples

In [1]:
 my_tuple = ()
print(my_tuple)
print("\n")
my_tuple = (1, 2, 3)
print(my_tuple)
print("\n")     
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
print("\n")     
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)
print("\n")     
my_tuple = 3, 4.6, "dog"
print(my_tuple)

()


(1, 2, 3)


(1, 'Hello', 3.4)


('mouse', [8, 4, 6], (1, 2, 3))


(3, 4.6, 'dog')

In [2]:
my_tuple = ("hello",)
print(type(my_tuple))

<class 'tuple'>

In [5]:
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])
print(my_tuple[3]) # IndexError: list index out of range
print("\n")
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(n_tuple[1][3])
print(n_tuple[1][1])

p
t
m

IndexError: list index out of range

In [8]:
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[-1])
print(my_tuple[-6])

#Slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')
print(my_tuple[1:4])
print(my_tuple[:-7])
print(my_tuple[7:])

t
p
('r', 'o', 'g')
('p', 'r')
('i', 'z')

In [9]:
 # Concatenation
print((1, 2, 3) + (4, 5, 6))
# Repeat
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [10]:
my_tuple = ('a','p','p','l','e',)
# Count
print(my_tuple.count('p'))
# Index
print(my_tuple.index('l'))

2
3

In [11]:
my_tuple = ('a','p','p','l','e',)
# In operation
print('a' in my_tuple)
print("\n")
print('b' in my_tuple)
# Not in operation
print('g' not in my_tuple)

True


False
True

In [12]:
for name in ('kalyan','Kumar'):
     print("Hello",name)

Hello kalyan
Hello Kumar

In [ ]:
# Built-in functions like all(), any(), enumerate(), len(), max(), min(), sorted(), tuple() etc. 
# are commonly used with tuple to perform different tasks.

# assaigning a value to a variable is not possible

# deleting a variable is not possiblr

# dictionaries

In [14]:
# empty dictionary
my_dict = {}
print(my_dict)
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'apple', 2:'ball'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
print(my_dict)

{}
{1: 'apple', 2: 'ball'}
{'name': 'John', 1: [2, 4, 3]}
{1: 'apple', 2: 'ball'}
{1: 'apple', 2: 'ball'}

In [18]:
my_dict = {'name':'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))

#my_dict.get('address')
# my_dict['address']

Jack
26

In [19]:
# update value
my_dict = {'name':'Jack', 'age': 26}
my_dict['age'] = 27
print(my_dict)
# add item
my_dict['address'] = 'Downtown'  
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [21]:
# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
# remove a particular item
print(squares.pop(4))  
print(squares)
# remove an arbitrary item
# Output: (1, 1)
print(squares.popitem())
print(squares)

# delete a particular item
del squares[5] 
    
print(squares)

# remove all items
squares.clear()
    
print(squares)

# delete the dictionary itself
del squares

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9}
{}

In [22]:
#clear function
d = {1: "one", 2: "two"}
d.clear()
print('d =', d)

d = {}

In [23]:
d = {1: "one", 2: "two"}
d1 = d
d.clear()
print('Removing items using clear()')
print('d =', d)
print('d1 =', d1)
d = {1: "one", 2: "two"}
d1 = d
d = {}
print('Removing items by assigning {}')
print('d =', d)
print('d1 =', d1)

Removing items using clear()
d = {}
d1 = {}
Removing items by assigning {}
d = {}
d1 = {1: 'one', 2: 'two'}

In [24]:
#copy
original = {1:'one', 2:'two'}
new = original.copy()
print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}

In [25]:
original = {1:'one', 2:'two'}
new = original
# removing all elements from the list
new.clear()
print('new: ', new)
print('original: ', original)

new:  {}
original:  {}

In [26]:
original = {1:'one', 2:'two'}
new = original.copy()
# removing all elements from the list
new.clear()
print('new: ', new)
print('original: ', original)

new:  {}
original:  {1: 'one', 2: 'two'}

# sets

A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).

However, the set itself is mutable. We can add or remove items from it.

In [1]:
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

In [2]:
#empty set
a={}
print(type(a))
b=set()
print(type(b))

<class 'dict'>
<class 'set'>

In [10]:
myset={1,2,3,4,5}
#print(myset[1]) it wont supports indexing
myset.add(6)
print(myset)#add function
myset.update([7,8,9])#update function
print(myset)
myset.update([10,11], {12,13,14})#we can update the list and set values
print(myset)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [14]:
#removes&discard functions
mylist={1,2,3,4,5,6,7}
mylist.discard(1)
print(mylist)
mylist.remove(2)
print(mylist)
mylist.discard(8)#it wont shows error if element was not there
print(mylist)
mylist.remove(8)#it shows error if element was not there
print(mylist)

{2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

KeyError: 8

In [18]:
#pop functions
mylist={1,2,3,4,5,6,7,8,9,10}
mylist.discard(1)
print(mylist)
mylist.remove(2)
print(mylist)
mylist.pop()#removes the first element
print(mylist)
mylist.pop()
print(mylist)
mylist.clear()
print(mylist)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
set()

In [23]:
#set oprations
A ={1, 2, 3, 4, 5}
B= {4, 5, 6, 7, 8}
#union operations
print(A | B)
print(A.union(B)) 
#intersection operation
print(A & B)
print(A.intersection(B))
#difference operation
print(A - B)
print(A.difference(B))
#symmetric operation
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}