In [1]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [2]:
#INSTALL: pip3 install xlrd
#read excel file 
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
#write DF to csv
df.to_csv('new.csv') 
df.to_csv('new_noIndex.csv', index=False)

In [4]:
# INSTALL: pip3 install openpyxl
#write DF to Excel
df.to_excel('new.xlsx', sheet_name='weather_data')

In [5]:
#GROUP-BY
import pandas as pd
df = pd.read_csv('weather_data_cities.csv')
df #weather by cities

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [7]:
g = df.groupby('city')
print(g)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000009D0E0F7B38>

In [8]:
for city, city_df in g:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [10]:
#or to get specific group
g.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [12]:
#Find maximum temperature in each of the cities
print(g.max())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [13]:
print(g.mean())

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [14]:
print(g.describe())

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [15]:
#PANDAS
#creating a table usng data frame
import pandas as pd
weather_data=[('1/1/2017',32,6,'rain'),
              ('1/2/2017',35,7,'sunny'),
              ('1/3/2017',34,2,'snow'),
              ('1/4/2017',24,7,'snow'),
              ('1/5/2017',32,4,'rain'),
              ('1/6/2017',31,2,'sunny')
             ]
df=pd.DataFrame(weather_data,columns=['Day','Temparature','Windspeed','Event'])
df

        Day  Temparature  Windspeed  Event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           34          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [16]:
df.shape

(6, 4)

In [17]:
#to get default first lines
df.head()

        Day  Temparature  Windspeed  Event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           34          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain

In [18]:
#to get default last lines
df.tail()

        Day  Temparature  Windspeed  Event
1  1/2/2017           35          7  sunny
2  1/3/2017           34          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [19]:
#slicing from 2nd row to 5-1 row
df[2:5]

        Day  Temparature  Windspeed Event
2  1/3/2017           34          2  snow
3  1/4/2017           24          7  snow
4  1/5/2017           32          4  rain

In [20]:
#print the headings of the columns
df.columns

Index(['Day', 'Temparature', 'Windspeed', 'Event'], dtype='object')

In [21]:
#print the dates
df.Day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [22]:
#another way of defining the dates
df['Day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: Day, dtype: object

In [23]:
#to get multiple data
df[["Day","Event"]]

        Day  Event
0  1/1/2017   rain
1  1/2/2017  sunny
2  1/3/2017   snow
3  1/4/2017   snow
4  1/5/2017   rain
5  1/6/2017  sunny

In [24]:
#to get temparature data
df["Temparature"]

0    32
1    35
2    34
3    24
4    32
5    31
Name: Temparature, dtype: int64

In [25]:
#to get maximum teparature
df["Temparature"].max()

35

In [26]:
#to get minimum teparature
df["Temparature"].min()

24

In [27]:
#to get average temparature
df["Temparature"].mean()

31.333333333333332

In [28]:
#to get data description
df["Temparature"].describe()

count     6.000000
mean     31.333333
std       3.881580
min      24.000000
25%      31.250000
50%      32.000000
75%      33.500000
max      35.000000
Name: Temparature, dtype: float64

In [29]:
#select row which has max teparature data
df[df.Temparature==df.Temparature.max()]

        Day  Temparature  Windspeed  Event
1  1/2/2017           35          7  sunny

In [41]:
#select a day which has more teparature
df.Day[df.Temparature==df.Temparature.max()]

1    1/2/2017
Name: Day, dtype: object